* {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
}
body {
  background-color: whitesmoke;
}

.todo-list {
  background-color: white;
  margin: 20px;
  width: 45%;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #efefef;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  padding: 40px;
}

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

.main {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

input[type="checkbox"] {
  margin-right: 10px;
  font-size: 30px;
}

input[type="checkbox"]:focus {
  outline: 0;
}

.incomplete {
  text-decoration: line-through;
  color: grey;
}

form {
  margin: 15px auto;
  display: flex;
  flex-direction: column;
}

form p {
  margin-bottom: 5px;
}

button {
  width: 80px;
  height: 20px;
  margin-top: 10px;
}
