#root {
  display: flex;
  justify-content: center;
}
body {
  background-color: whitesmoke;
}

.todo-list {
  background-color: white;
  margin: 20px auto;
  width: 30%;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  padding: 30px;
}

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

input[type=checkbox] {
  margin-right: 10px;
  font-size: 30px;
}

input[type=checkbox]:focus {
  outline: 0;
}

.incomplete {
  text-decoration: line-through;
  color: grey;
}